@charset "utf-8";
body  {
	padding: 0;
	margin: 0;
    background-color: crimson;
}
wrapper {
	margin: 0 auto;
	width: 1066px;
	height: 1234px;
	display: block;
	background-color: #FFFFFF;
}
header {
	background-color: #FFFFFF;
	padding: 3px;
	padding-bottom: -12px;
	height: auto;
}
nav ul li {
	display: inline-block;
	color: white;
	padding: 5px 86px;
	font-size: 15px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
ul{
	background-color: crimson;
	margin-top: -29px;
	text-align: center;
	padding: 7px;
}
.logo {
	height: 270px;
	width: auto;
	margin-top: -30px;
}
.banner {
	margin-top: -18px;
	display: block;
	height: 600px;
	width: auto;
}
.watson_header {
	width: auto;
	height: 290px;
	margin-top: -18px;
}
.section {
	background-color: white;
	display: block;
	width: auto;
	height: 402px;
}

.txt {
	color: #FF0004;
	font-family: "Brush Script MT";
	vertical-align: middle;
	text-align: center;
	margin-top: -285px;
	font-size: 57px;
	margin-left: 381px;
}
.txt2 {
	text-align: center;
}

.burger {
	width: auto;
	height: 311px;
	vertical-align: middle;
	margin-left: 214px;
	margin-top: 33px;
	border: 5px solid #FF0004;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.button {
	width: auto;
	height: 48px;
	margin-left: 672px;
	margin-top: -8px;
}

.media {
	margin-left: 439px;
}
.menu {
	width: auto;
	height: 547px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	display: block;
	padding-bottom: 64px;
}
.title {
	text-align: center;
	font-family: "Brush Script MT";
	font-style: normal;
	color: #FF0004;
	font-size: 50px;
	margin-bottom: -10px;
	padding-bottom: 10px;
}

.txt3 {
	text-align: center;
	font-size: 64px;
	color: #FF0004;
	font-family: "Agency FB", "Amster Black Italic", "Brush Script MT";
}
.truck {
	position: relative;
	color: white;
}
.txt4 {
	position: absolute;
	top: 200px;
	left: 0;
	width: auto;
	height: 197px;
	margin-left: 151px;
	text-align: center;
	font-size: 62px;
	margin-top: -113px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contact {
	text-align: center;
	font-size: 33px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #FF0004;
	padding-bottom: 44px;
	text-decoration: none;
}
footer {
	background-color: #FFFFFF;
	height: 59px;
	margin-top: -20px;
}
